/Parcial_CRUD/nbproject/private/
/fundamentos/Practicas_Udemy/nbproject/private/
/fundamentos/Practicas_Udemy/build/
/fundamentos/baseDeDatos_Final/target/
/RetoSemanal/target/
/FinalProgramacion/nbproject/private/
/FinalProgramacion/build/
/FINAL PROGRAMACION/build/
/FINAL PROGRAMACION/dist/
/FINAL PROGRAMACION/nbproject/private/
/Calculadora/target/
