[Desktop Entry]
Encoding=UTF-8
Name=Enlace a Parcial_2_CRUD
Type=Link
URL=https://github.com/MarceloChaf/Practica_java/tree/main/Practica_java/Parcial_2_CRUD
Icon=text-html
